* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}
section:first-child {
  padding-top: 8rem;
  padding-right: 15rem;
  padding-left: 4rem;
}
section > div {
  border: 2px black solid;
  margin: 2rem;
  height: 5rem;
  width: 5rem;
}
