body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header > img {
  width: 5%;
  position: fixed;
  right: 1.5rem;
  top: 1rem;
}

main {
  display: flex;
  height: 15rem;
}

section{
  width: 48%;
  height: 100%;
  margin:1rem;
  margin-top:4rem;
  padding:0.5rem;
}

section > div{
  margin-bottom: 5%;

}

.help{
  color: white;
}

section > div > h4{
  position: relative;
  top:30%;
  margin:auto;
  font-size: 175%;
}

section > div > table {
  margin: auto;
  text-align: center;
  width: 50%;
  position: relative;
  top: 40%;
  border: 0px solid black;
}
th {
  font-weight: normal;
  width: 50%;
  border: 0px solid black;
}

section > div {
  height: 100%;
}


footer{
  position: relative;
  top: 38rem;
  width: 100%;
  text-align: center;
}


